<%- include('../parts/html-head') %>
<%- include('../parts/navbar') %>
<!-- ../往上移一層 -->

<div class="container">
    <h2>customer</h2>
</div>
<%- include('../parts/scripts') %>
<%- include('../parts/html-foot') %>